@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Sora:wght@100..800&display=swap");

:root {
}

body {
}

div {
  box-sizing: border-box !important;
}

.overflow-scroll::-webkit-scrollbar,
.overflow-scroll::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar-track {
  @apply bg-transparent;
}

*::-webkit-scrollbar-thumb {
  @apply bg-[#DDDBD7] rounded-md;
}
